@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Scribbler</h1>
    <p>
        <a class="btn btn-success btn-lg" asp-controller="Notes" asp-action="Index">Start Scribbling</a>
    </p>
</div>
